
@{
    ViewData["Title"] = "DocsView";
}

<h1>Upload Public/Private docs</h1>
<br />
<a asp-area="" asp-controller="Docs" asp-action="UploadPublicView" class="navbar-brand">Public Docs</a>
<br />
<a asp-area="" asp-controller="Docs" asp-action="UploadPrivateView" class="navbar-brand">Private Docs</a>