@{
    ViewData["Title"] = "View Existing Docs";
}
<h1>View Public/Private docs</h1>
<br />
<a asp-area="" asp-controller="Docs" asp-action="PublicDocsView" class="navbar-brand">Public Docs</a>
<br />
<a asp-area="" asp-controller="Docs" asp-action="PrivateDocsView" class="navbar-brand">Private Docs</a>
