@model IEnumerable<TestWebAp.Models.DocsViewModel.DocsClass>
@{
    ViewData["Title"] = "Private Files";
}

<body>
    <h1>Private docs</h1>
    <br>
    <div class="container ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <h5 class="card-title">@item.Myfilenames</h5>
                        <a asp-area="" asp-controller="Docs" asp-action="Download" asp-route-filename=@item.Myfilenames>Download</a>
                        <a asp-area="" asp-controller="Docs" asp-action="UpdatePrivateFile" asp-route-OwnerID=@item.OwnerID asp-route-OldFileName=@item.Myfilenames>Update</a>
                        <a asp-area="" asp-controller="Log" asp-action="DocLogView" asp-route-OwnerID=@item.OwnerID asp-route-filename=@item.Myfilenames>History Log</a>
                        <a asp-area="" asp-controller="Docs" asp-action="DeletePrivateFile" asp-route-OwnerID=@item.OwnerID asp-route-filename=@item.Myfilenames asp-route-Path=@item.docPath>Delete</a>
                        <a asp-area="" asp-controller="Docs" asp-action="AddCollaberatorView" asp-route-filename=@item.Myfilenames>Add Collaberator</a>
                        <a asp-area="" asp-controller="Docs" asp-action="DeleteColabView" asp-route-filename=@item.Myfilenames>Delete Collaberator</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>