@model IEnumerable<TestWebAp.Models.DocsViewModel.DocsClass>
@{
    ViewBag.Title = "Public Files";
}

<body>
    <h2>Public Files</h2>
    <br>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <h5 class="card-title">@item.Myfilenames</h5>
                        <p>@item.Email</p>
                        <a asp-area="" asp-controller="Docs" asp-action="Download" asp-route-filename=@item.Myfilenames>Download</a>
                        <a asp-area="" asp-controller="Docs" asp-action="UpdatePublicFile" asp-route-OwnerID=@item.OwnerID asp-route-OldFileName=@item.Myfilenames>Update</a>
                        @if (ViewBag.UserID == item.OwnerID.ToString())
                        {
                            <a asp-area="" asp-controller="Log" asp-action="DocLogView" asp-route-OwnerID=@item.OwnerID asp-route-filename=@item.Myfilenames>History Log</a>
                            <a asp-area="" asp-controller="Docs" asp-action="DeletePublicFile" asp-route-OwnerID=@item.OwnerID asp-route-filename=@item.Myfilenames asp-route-path=@item.docPath>Delete</a>
                        }
                    </div>
                    </div>
            }
        </div>
    </div>
</body>