@model IEnumerable<TestWebAp.Models.DocsViewModel.DocsClass>
@{
    ViewBag.Title = "Shared Files";
}

<body>

    <h2>Files Shared with me</h2>

    <table class="table">
        <tr>
            <th>File Names</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Docs" asp-action="Download" asp-route-filename=@item.Myfilenames>@Html.DisplayFor(modelItem => item.Myfilenames)</a>
                </td>
            </tr>
        }
    </table>

</body>