@model IEnumerable<TestWebAp.Models.DocsViewModel.DocsClass>
@{
    ViewBag.Title = "Shared Files";
}

<body>
    <h2>Files Shared with me</h2>
    <br>
    <div class="container ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <h5 class="card-title">@item.Myfilenames</h5>
                        <p>@item.Email</p>
                        <p>@item.FileSize</p>
                        <a asp-area="" asp-controller="Docs" asp-action="Downloadshared" asp-route-filename=@item.Myfilenames>Download</a>
                        <a asp-area="" asp-controller="Docs" asp-action="UpdatePrivateFile" asp-route-OwnerID=@item.OwnerID asp-route-OldFileName=@item.Myfilenames>Update</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
