
@{
    ViewData["Title"] = "Upload Public Docs";
}

<body>

    <h1>Upload Public Docs</h1>
    <br>
    <form asp-controller="Docs" asp-action="UploadFilePublic" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>

</body>
