@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
<body>
        <p>Contact Person: Brandon</p>
        <p>Contact number: 054 869 8745</p>
        <p>Contact E-Mail: brandon@gmail.com</p>
</body>