
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<br>
<body>

    @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
    {
        <div class="alert-danger">
            <strong>Error! </strong> @ViewData.ModelState["Error"].Errors.First().ErrorMessage
        </div>
        <br>
    }

    @using (Html.BeginForm("LoginEmailView", "Account"))
    {
        <label>E-mail</label>
        <input type="text" name="Email" size="50" required>
        <br>
        <label>Password</label>
        <input type="password" name="Password" required>
        <br>
        <button type="submit">Login</button>
    }

</body>

