
@{
    ViewData["Title"] = "SpreadSheetView";
}

<h1>SpreadSheets</h1>
<br/>
<br/>
<input id="file1" type="file"/>
<br/>
<br/>
<table style="width:100%; height:100%;" contenteditable="true" spellcheck="true" border="1" cellpadding="5" ><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
<br/>
<br/>
<input id="Button1" type="button" value="Save"/>
<br/>
<br/>

